version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: mmatt-sabnzbd_sabnzbd_1
      APP_PORT: 8080

  server:
    image: lscr.io/linuxserver/sabnzbd:latest
    init: true
    container_name: sabnzbd
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
    ports:
      - 8080:8080
    restart: on-failure
