version: "3.7"

services:
  app_proxy:
    environment:
      # The format here is: <app-id>_<docker-service-name>_1
      APP_HOST: SABnzbd-sabnzbd_1
      APP_PORT: 8080

  server:
    image: lscr.io/linuxserver/sabnzbd:latest
    user: "1000:1000"
    init: true
    container_name: sabnzbd
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
    ports:
      - 8080:8080
    restart: on-failure
